.playlist{
    
}

.ul{
    list-style-type: none;
}

.input{
    width: 15rem;
    height: 2.5rem;
    opacity: 0.7;
}

.button{
    position: relative;
    left: 9.6rem;
}

@media only screen and (max-width: 1230px){
    .button{
        left: 4.5rem;
    }
}
@media only screen and (max-width: 900px){
    .playlist{
        position: relative;
        left: 4rem;
    }
}

@media only screen and (max-width: 470px){
    .button{
        left: 5.5rem;
    }
}